@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: rgba(26, 26, 26, .7)
}

/* headings and logo */

h1,
h2 {
    font-family: Montserrat, sans-serif;
    color: rgba(26, 26, 26, .7);
    text-transform: uppercase;
    letter-spacing: 5px;
}

#logo {
    float: left;
    font-size: 100%;
    margin-left: 5px;
    opacity: 1.0;
    transition: 0.5s;
    line-height: 80px;
}

#logo:hover {
    opacity: 0.5;
}