@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {

    max-width: 1280px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(26, 26, 26, .7);
}

/* headings and logo */

h1,
h2 {
    color: rgba(26, 26, 26, .7);
    text-transform: uppercase;
    letter-spacing: 5px;
}

#logo {
    font-size: 1.9rem;
    display: flex;
    float: left;
    margin: 5px;
    line-height: 90px;
    opacity: 1.0;
    transition: 0.5s;
}

#logo:hover {
    opacity: 0.5;
}

.fa-solid {
    letter-spacing: 0;
}

/* navigation section */

.navigation li {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
    display: inline;
    float: right;
    margin-right: 5px;
    line-height: 120px;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 7px 7px;
    border-radius: 20px;
}

.navigation a:hover {
    background-color: rgba(26, 26, 26, .7);
    color: rgb(255, 255, 255);
}

/* hero section */
#hero {
    min-height: 400px;
    width: 100%;

    overflow: hidden;
    position: relative;
    background: url('../images/index_hero.png') no-repeat center center;
    opacity: 0.9;
    transition: 0.5s
}

#hero:hover {
    opacity: 1.0;
}

#quote-plate {
    font-size: 180%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 4px;
    width: 800px;
    height: 250px;
    top: 120px;
    left: 80px;
    position: absolute;
}

/* about us section */
#about-us {
    min-height: 300px;
    width: 100%;
}

#about-us h1 {
    font-size: 3rem;
    padding: 40px;
    text-align: center;
}

.about-us-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}

.about-us-grid-element {
    font-size: 2rem;
    text-align: justify;

    transition: 0.5s;
    margin: 0 15px;
}


/* our services section */

#our-services {
    min-height: 580px;
    width: 100%;
    background-color: #f8f8f8;
}

#our-services h1 {
    font-size: 3rem;
    margin: 20px 0 0 0;
    padding: 30px;
    text-align: center;
}

.our-services-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}

.our-services-grid-element h2 {
    margin: 0 0 16px 0;
    text-align: center;
}

.our-services-grid-element {
    margin: 15px;
    font-size: 1.8rem;
    text-align: justify;
}

.our-services-grid-element span {
    font-style: italic;
}

/* portfolio section */

#portfolio {
    min-height: 550px;
    width: 100%;
}

#portfolio h1 {
    font-size: 3rem;
    margin: 20px 0 0 0;
    padding: 30px;
    text-align: center;
}

.portfolio-welcome {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;

}

.portfolio-welcome-element {
    margin: 15px;
    font-size: 2rem;
    text-align: justify;
}

.portfolio-clients {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.portfolio-clients-element {
    margin: 50px;
    font-size: 2rem;
    text-align: center;
}


.portfolio-clients-element li {
    list-style-type: none;
    display: inline;
    opacity: 0.4;
    transition: 0.5s
}

.portfolio-clients-element li:hover {
    opacity: 0.7;
}

.portfolio-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.portfolio-grid-element h2 {
    margin: 0 0 16px 0;
    text-align: center;
}

.portfolio-media-description {
    text-align: justify;
}

.portfolio-grid-element {
    margin: 15px;
    font-size: 1.8rem;
    text-align: center;
}


/* contact us section */

#contact {
    min-height: 1400px;
    width: 100%;
    background-color: #f8f8f8;
}

#contact h1 {
    font-size: 3rem;
    padding: 40px;
    text-align: center;
}

.contact-us-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1 fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.contact-us-grid-element {
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
    margin: 0 15px;
}

.contact-form {
    margin: 0 auto;
    text-align: left;
    color: rgba(26, 26, 26, .7);
    background-color: rgba(60, 60, 60, 0.1);
    max-width: 480px;
    min-height: 500px;
    padding: 30px;
    border-radius: 15px;
    font-size: 1.4rem;
}

.text-input {
    background: transparent;
    color: rgba(26, 26, 26, .7);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid rgba(26, 26, 26, .7);
    border-radius: 5px;
}

.text-input-other {
    background: transparent;
    color: rgba(26, 26, 26, .7);
    width: 100%;
    height: 75px;
    margin: 5px 0 20px 0;
    border: 1px solid rgba(26, 26, 26, .7);
    border-radius: 5px;
}

.radio-input {
    margin: 0 10px 0 0;
}

.text-input:hover,
.text-input-other:hover {
    border-color: #f16c6b;
}

.contact-form hr {
    margin: 6px 0 3px 0;
}

.submit-button {
    margin: 20px;
    width: 40%;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(60, 60, 60, 0.1);
    color: rgba(26, 26, 26, .7);
    float: left;
    margin-right: 5px;

}

.submit-button:hover {
    background-color: rgba(26, 26, 26, .7);
    color: rgb(255, 255, 255);
}


.social-media-list{
    margin: 30px 0;
}
.social-media-list>li {
    font-size: 3rem;
    margin: auto;
    list-style-type: none;
    display: inline;
    opacity: 0.7;
    transition: 0.5s;
}

.social-media-list>li:hover {
    opacity: 1;
}




/* footer section */

.footer-content {
    height: 60px;
    width: 100%;
    margin: 30px 0 0 0;
    font-size: 2.5rem;
    line-height: 60px;

}

#copyright {
    text-align: center;
    transition: 0.5s;

}





/* responsive code */

@media screen and (max-width: 950px) {

    .navigation {
        display: flex;
        clear: left;
        justify-content: center;
    }

    .navigation li {
        font-size: 1.1rem;
    }

    #logo {
        font-size: 90%;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #quote-plate {
        font-size: 150%;
        width: 400px;
        height: 250px;
        top: 100px;
        left: 50px;
        transition: 0.5s
    }

    #copyright {
    font-size: 2rem;
    
    }

}

@media screen and (max-width: 465px) {
    .navigation {
        display: flex;
        clear: left;
        justify-content: center;
    }

    .navigation li {
        font-size: 1rem;
    }


    #logo {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: flex;
        font-size: 70%;
        justify-content: center;
    }

    #about-us p {
        font-size: 100%;
    }

    #quote-plate {
        font-size: 110%;
        width: 400px;
        height: 250px;
        top: 120px;
        left: 30px;
        transition: 0.5s
    }

    .our-services-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
    }

    .contact-form {
        min-height: 530px;

    }
    #copyright {
        font-size: 1.5rem;
        
        }
    
}