/* ==============
   global styles
   ============== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(26, 26, 26, .7);
}

video,
audio,
iframe,
form {
    max-width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

audio {
    width: 70%;
    border-radius: 90px;
}

/* ==============
   typography
   ============== */

h1,
h2,
h3 {
    color: rgba(26, 26, 26, .7);
    text-transform: uppercase;
    letter-spacing: 5px;
}

#about-us h2,
#our-services h2,
#portfolio h2,
#contact h2 {
    font-size: 3.5rem;
    margin: 20px 0 0 0;
    padding: 30px;
    text-align: center;
}

.our-services-grid-element h3,
.portfolio-grid-element h3 {
    font-size: 2.5rem;
    margin: 0 0 16px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 7px 7px;
    border-radius: 20px;
}

span {
    font-style: italic;
}

hr {
    margin: 6px 0 3px 0;
}

/* ==============
   layout
   ============== */

/* Logo & Navigation */

#logo {
    font-size: 1.9rem;
    margin: 3px;
    display: flex;
    float: left;
    transition: 0.5s;
}

#logo:hover {
    opacity: 0.5;
}

.navigation-area .top-navigation {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    float: right;
    margin-right: 3px;
    line-height: 70px;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a:focus {
    background-color: rgba(26, 26, 26, .7);
    color: rgb(255, 255, 255);
}

/* hero section */
.hero {
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url('../images/index_hero.png') no-repeat center center;
    opacity: 0.9;
    transition: 0.5s
}

.hero:hover {
    opacity: 1.0;
}

#quote-plate {
    font-size: 180%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 4px;
    width: 800px;
    height: 250px;
    top: 120px;
    left: 80px;
    position: absolute;
    transition: 0.5s;
}

/* about us section */

#about-us {
    min-height: 300px;
    max-width: 100%;
    background-color: #eaeaea;
    border-radius: 20px;
}

.about-us-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}

.about-us-grid-element {
    font-size: 2rem;
    text-align: justify;
    transition: 0.5s;
    margin: 0 15px;
}

/* our services section */

#our-services {
    min-height: 580px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 20px;
}

.our-services-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}

.our-services-grid-element {
    margin: 0 15px;
    font-size: 1.8rem;
    text-align: justify;
}

.our-services-grid-element span {
    font-style: italic;
}

/* portfolio section */

#portfolio {
    min-height: 550px;
    width: 100%;
    background-color: #eaeaea;
    border-radius: 20px;
}

.portfolio-welcome,
.portfolio-clients {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;
}

.portfolio-welcome-element {
    margin: 0 15px;
    font-size: 2rem;
    text-align: justify;
}

.portfolio-clients-element {
    margin: 50px;
    font-size: 2rem;
    text-align: center;
}

.portfolio-clients-element li {
    list-style-type: none;
    display: inline;
    opacity: 0.4;
    transition: 0.5s;
}

.portfolio-clients-element li:hover {
    opacity: 0.7;
}

.portfolio-grid {
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 40px;
}

.portfolio-grid-element {
    margin: 0 15px;
    font-size: 1.8rem;
    text-align: center;
}

.portfolio-media-description {
    text-align: justify;
}

/* contact us section */

#contact {
    min-height: 1400px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 20px;
}

.contact-us-grid {
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 40px;
}

.contact-us-grid-element {
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
    margin: 0 15px;
}

.contact-form {
    margin: 0 auto;
    text-align: left;
    color: rgba(26, 26, 26, .7);
    background-color: #eaeaea;
    max-width: 480px;
    min-height: 500px;
    padding: 30px;
    border-radius: 15px;
    font-size: 1.4rem;
}

.text-input,
.text-input-other {
    background: transparent;
    color: rgba(26, 26, 26, .7);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid rgba(26, 26, 26, .7);
    border-radius: 5px;
}

.text-input-other {
    height: 75px;
}

.text-input:hover,
.text-input-other:hover {
    border-color: #b92121;
}

.radio-input {
    margin: 0 10px 0 0;
}

.submit-button {
    margin: 20px;
    width: 40%;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(60, 60, 60, 0.1);
    color: rgba(26, 26, 26, .7);
    margin-right: 5px;

}

.submit-button:hover {
    background-color: rgba(26, 26, 26, .7);
    color: rgb(255, 255, 255);
}

.social-media-list {
    margin: 30px 0;
}

.social-media-list>li {
    font-size: 3rem;
    margin: auto;
    list-style-type: none;
    display: inline;
    opacity: 0.7;
    transition: 0.5s;
}

.social-media-list>li:hover {
    opacity: 1;
}

/* footer section */

.footer-content {
    height: 60px;
    width: 100%;
    margin: 30px 0 0 0;
    font-size: 2.5rem;
    line-height: 60px;
}

#copyright {
    text-align: center;
    transition: 0.5s;
}

/* ==============
   media queries
   ============== */

/* min-width 951px */

@media screen and (min-width: 951px) {
    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

/* max-width 950px */

@media screen and (max-width: 950px) {

    #logo {
        font-size: 90%;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navigation {
        display: flex;
        clear: left;
        justify-content: center;
    }

    .navigation li {
        font-size: 1.6rem;
    }

    #quote-plate {
        font-size: 150%;
        width: 400px;
        height: 250px;
        top: 100px;
        left: 50px;
    }

    .about-us-grid-element,
    .our-services-grid-element,
    .portfolio-welcome-element,
    .contact-us-grid-element,
    .portfolio-grid-element {
        font-size: 1.8rem;
    }

    #portfolio {
        min-height: 2350px;
         }

    #copyright {
        font-size: 2rem;
    }
}

/* max-width 640px */

@media screen and (max-width: 640px) {

    #logo {
        font-size: 85%;
    }

    .navigation-area .top-navigation {
        display: block;
        line-height: 20px;
        margin: 10px 0;
        text-align: center;
    }

    .top-navigation li {
        font-size: 1.2rem;
    }

    #quote-plate {
        font-size: 100%;
        width: 350px;
        height: 250px;
        top: 130px;
        left: 30px;
        transition: 0.5s
    }

    .about-us-grid-element,
    .our-services-grid-element,
    .portfolio-welcome-element,
    .contact-us-grid-element,
    .portfolio-grid-element {
        font-size: 1.5rem;
    }

    #about-us h2,
    #our-services h2,
    #portfolio h2,
    #contact h2 {
        font-size: 2.5rem;
    }

    .our-services-grid-element>h3,
    .portfolio-grid-element>h3 {
        font-size: 2rem;
    }

    .our-services-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
    }
  
    #clients img {
        width: 100px;
    }

    .contact-form {
        min-height: 530px;
    }

    #copyright {
        font-size: 1.5rem;
    }
}

/* max-width 390px */

@media screen and (max-width: 390px) {

    #logo {
        font-size: 60%;
    }
    
    .navigation li {
        font-size: 1rem;
    }

    .hero {
        min-height: 200px;
    }
   
    #quote-plate {
        font-size: 90%;
        width: 280px;
        height: 270px;
        top: 40px;
        left: 30px;
    }

    #portfolio {
        min-height: 2450px;
         }

    .contact-form {
        min-height: 510px;
    }

    .submit-button {
        margin: 10px;
    }

    #copyright {
        font-size: 1.5rem;
    }
}